<ion-header class="animated fadeIn">
  <ion-navbar color="danger">
    <ion-title>
      Deliveries
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="animated fadeIn">
  <ion-list>
    <ion-list-header>
      <h1>App Deliveries</h1>
    </ion-list-header>
    <ion-item-sliding *ngFor="let order of appOrders">
      <ion-item style="border: 0px solid red">
        <h2>Order ID: {{ order.order_id }}</h2>
        <p>Grand Total: {{ order.tot_cost }} LKR</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button color="primary">
          <ion-icon name="navigate" (click)="openMapModal()"></ion-icon>
        </button>
        <button ion-button color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
      <h1>Phone Deliveries</h1>
    </ion-list-header>
    <ion-item *ngIf="phoneOrders.length === 0">
      <h2>No orders</h2>
    </ion-item>
    <ion-item-sliding *ngFor="let order of phoneOrders">
      <ion-item>
        <h2>Order ID: {{ order.order_id }}</h2>
        <p>Grand Total: {{ order.tot_cost }}LKR</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
