<ion-header class="animated fadeIn">
  <ion-navbar color="danger">
    <ion-title>
      Deliveries
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="animated fadeIn">
  <ion-list>
    <ion-list-header>
      <h1>App Deliveries</h1>
    </ion-list-header>
    <ion-item *ngIf="appOrders.length === 0">
      <ion-row justify-content-center>
        <ion-col col-6>
          <ion-icon name="warning"></ion-icon> No Deliveries to show
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-sliding *ngFor="let order of appOrders">
      <ion-item style="border: 0px solid red">
        <h2>Order ID: {{ order.order_id }}</h2>
        <p>Grand Total: {{ order.tot_cost }} LKR</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button color="primary">
          <ion-icon name="navigate" (click)="openMapModal()"></ion-icon>
        </button>
        <button ion-button color="secondary" (click)="confirmComplete(order.order_id, 'app')">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
      <h1>Phone Deliveries</h1>
    </ion-list-header>
    <ion-item *ngIf="phoneOrders.length === 0">
      <ion-row justify-content-center>
        <ion-col col-6>
          <ion-icon name="warning"></ion-icon> No Deliveries to show
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-sliding *ngFor="let order of phoneOrders">
      <ion-item>
        <h2>Order ID: {{ order.order_id }}</h2>
        <p>Grand Total: {{ order.tot_cost }}LKR</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button color="secondary" (click)="confirmComplete(order.order_id, 'phone')">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
